body {
  align-content: center;
  align-items: center;
  background-color: grey;
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

h2 {
  background-color: white;
  display: flex;
  font-size: 50px;
  font-stretch: expanded;
  font-style: normal;
  justify-content: center;
  margin:10;
  padding: 0;
  width: 500px
}

img {
  border-style: ridge;
  box-shadow: 2px 2px 5px;
  display: flex;
  flex-grow: 1;
  margin:0;
  padding: 0;
  width:500px;
}

p {
  display: flex;
  justify-content: center;
}

p.1La {
  font-size: 40px;
  z-index: 1;

}

p.1Lb {
  font-size:24px;
  z-index: 1;

}

p.2L {
  font-size:24px;
  z-index: 1;

}

p.3L{
  font-size:24px;
  z-index: 1;

}

p.4L {
  font-size:24px;
  z-index: 1;

}

p.5L{
  font-size:24px;
  z-index: 1;

}

#img1 {
  align-content: center;
  display: flex;

  justify-content: center;
  margin: 0;
  width: 500px;
}

#img2 {
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  width: 1000px;
}

#img3 {
align-content: center;
display: flex;
flex-direction: row;
height: 500px;
}

#img4{

}

#img5{

}

#img6{

}

#img7{

}

#sketch-holder {
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin: 10;
  padding: 0;
}

p.letter {
  background-color: white;
  margin: 5px;
}
